{% block content %}
{# DIT IS HET BEGIN VAN DE BLOCK #}

{# AFBEELDING URL INSTELLEN ALS VARIABLE OM VERKORT TE NOTEREN ALS HEROIMAGE.URL #}
{% set heroImage = entry.heroImage.one() %}

    {# NAVBAR TOP #}
    <nav class="navbar bg-darkest container-fluid">
        <!-- <div class="navbar-brand"><img class="navbar-logo" src="assets/favicon.png" alt="Logo Placeholder"></div> -->
        <div class="navbar-brand"><a class="brand-link" href="#">AURO</a></div>
        <div class="navbar-links">
            <ul class="navbar-list">
                <li class="navbar-listitem"><a href="#" class="navbar-link">Products</a></li>
                <li class="navbar-listitem"><a href="#" class="navbar-link">Cart</a></li>
                <li class="navbar-listitem"><a href="#" class="login-button"><i class="fas fa-user-circle"></i> Login</a></li>
            </ul>
        </div>
    </nav>


{% endblock %}